{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

  <!-- Leave blank space at the top and bottom of the page. -->
  <div style="margin: 3em 0;" >

    <!-- Show registration, post, login, etc messages. -->
    {% include 'home/messages.html' %}

    <form method="post">
      <div class="card text-black" style="margin: auto; max-width: fit-content;">

        <h5 class="card-header">Post Advertisement</h5>

        <!-- Display as grid so button takes entire width. -->
        <div class="card-body d-grid" style="text-align: left">

          {% csrf_token %}
          <!-- Display form. -->
          {{ form | crispy }}
          <!-- Invoke rich text editor. -->
          {{ form.media }}

          <!-- Always have add/remove tags -->

          <!-- If user is updating, need to check DB for user's tags -->

          <button type="submit" class="btn btn-primary">Post</button>

        </div>

      </div>
      <br>
      <!-- View All Ads by Author Button. -->
      <a href="{% url 'user-post-list' user %}" class="btn btn-outline-primary" style="display: block; margin-bottom: 0.5rem;" role="button">View My Ads</a>
    </form>

  </div>


{% endblock content %}