{% extends 'home/base.html' %}
{% block title %}
<title>New Ad</title>
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Ameen -->
<script>
  window.onload = function onWindowLoadFunctions(){
    setTagsToModifyInput();
    // Disable the add button if the tag limit is reached.
    checkTagLimit();
  }

  // Place the given tag name in the text field.
  function setTagInputValue(name) {
    tagInput = document.getElementById('tagInput');
    tagInput.value = name;
  }

  function setTagsToModifyInput(){
    /*
    when using request.POST.get(nameOfElement), the element must be
    an input field. So using this input field.
    */
    document.getElementById("tagsToModifyInput").value = document.getElementById("tagsToModify").innerText.replace(/ /g,"");
  }

  function checkTagLimit(section){
    /*
    Hide Add Tags section if user reaches tag limit of 10.
    */
    var tagCount = document.getElementsByClassName("modifyAddTag").length;
    if(tagCount<10) document.getElementById("addTagButton").style.display="inline";
    else {
      if(section == 'add') alert("Maximum tag count is 10.");
      document.getElementById("addTagButton").style.display="none";
    }
  }

  function tagExists(tag,stringTags){
    const str = stringTags.replace(/ /g,"");
    const arrTags = str.split(/[+]/);
    for (var i=0; i<arrTags.length; i++){
      if(tag == arrTags[i]) return true;
    }
    return false;
  }

  function addTag(){
    var tagInput = document.getElementById('tagInput').value;
    var tagsToMod = document.getElementById('tagsToModify');
    //dissallow tags with '+'.
    //can add more rules for tag entering here
    if (tagInput.indexOf('+') != -1){
      alert("'+' is not allowed in a tag.");
      return;
    }
    // Dissallow tags with spaces ' '.
    if (tagInput.indexOf(' ') != -1){
      alert("Spaces are not allowed in tags.");
      return;
    }
    //add tag
    else if (tagInput != "" && tagInput != null && !tagExists(tagInput, tagsToMod.innerText)) {
      tagsToMod.innerHTML = tagsToMod.innerHTML +
      '<span type="button" onclick="setTagInputValue(' + "'" + tagInput + "'" + ')" class="modifyAddTag" style="border: 1px solid black; border-radius:25px; padding: 6px 12px; display: inline-block;">+' +
        tagInput +
      '</span>';
    }
    //tag exists
    else if (tagInput != "" && tagInput != null && tagExists(tagInput, tagsToMod.innerText)) {
      alert("Tag: [" + tagInput + "] already exists.");
    }
    setTagsToModifyInput();
  }

  function removeTag(){
    var tagInput = document.getElementById('tagInput').value;
    var tagsToMod = document.getElementById('tagsToModify');
    const modifyAddTags = document.getElementsByClassName("modifyAddTag");
    //dissallow tags with '+'.
    //can add more rules for tag entering here
    if (tagInput.indexOf('+') != -1){
      alert("'+' is not allowed in a tag.");
      return;
    }
    //remove tag
    else if (tagInput != "" && tagInput != null && tagExists(tagInput, tagsToMod.innerText)) {
      for (var i=0; i<modifyAddTags.length; i++){
        if (modifyAddTags[i].innerText.replace(/ /g,"") == '+'+tagInput) modifyAddTags[i].remove();
      }
    }
    //tag does not exist
    else if (tagInput != "" && tagInput != null && !tagExists(tagInput, tagsToMod.innerText)){
      alert("Tag: [" + tagInput + "] does not exist.");
    }
    setTagsToModifyInput();
  }
</script>

<!-- Ameen, Luis -->
  <!-- Leave blank space at the top and bottom of the page. -->
  <div style="margin: 3em 0;" >

    <!-- Show registration, post, login, etc messages. -->
    {% include 'home/messages.html' %}

    <form method="post">
      <div class="card text-black" style="margin: auto; max-width: fit-content;">

        <h5 class="card-header">Post Advertisement</h5>

        <!-- Display as grid so button takes entire width. -->
        <div class="card-body d-grid" style="text-align: left">

          {% csrf_token %}
          <!-- Display form. -->
          {{ form | crispy }}
          <!-- Invoke rich text editor. -->
          {{ form.media }}
          <br>
          <!-- Tags -->
          {% if update_post %}
            <div style="text-align:left;">
              <!-- Add Tags -->
              <!-- Only up to 10 tags per post -->
              <div id="addTagSection" name="addTagSection">
                <p style="margin: 0;">Tag name</p>
                <div class="input-group">
                  <input class="form-control" type="label" id="tagInput" name="tagInput" maxlength="20">
                  <!-- Add Tag Button. -->
                  <span id="addTagButton" class="btn btn-primary" type="button" onclick="addTag();checkTagLimit('add');">Add</span>
                  <!-- Remove Tag Button. -->
                  <span class="btn btn-danger" type="button" onclick="removeTag();checkTagLimit('remove');">Remove</span>
                </div>
              </div>
              <!-- Tag Modifications will be completed after the post is saved. -->
              <!-- Have to use an input field bc Django can only see input HTML fields in request.POST. Keep hidden so users cannot modify. -->
              <input type="label" id="tagsToModifyInput" name="tagsToModifyInput" style="display:none;">
              <p style="margin: 0;">Tags</p>
              <div id="tagsToModify" name="tagsToModify">
                {% for tag in tags %}
                  <span type="button" onclick="setTagInputValue('{{tag.tag_name}}')" class="modifyAddTag" style="border: 1px solid black; border-radius:25px; padding: 6px 12px; display: inline-block">+{{ tag.tag_name }}</span>
                {% endfor %}
              </div>
              <br>
            </div>
            <br>
          {% else %}
            <p style="color:red">Posts can only add tags after creation.</p>
          {% endif %}
          <button type="submit" class="btn btn-primary">Post</button>
        </div>
      </div>
      <!-- View All Ads by Author Button. -->
    </form>
    <br>
    <a href="{% url 'user-post-list' user %}" class="btn btn-outline-primary" style="display: block; margin-bottom: 0.5rem;" role="button">View My Ads</a>
  </div>


{% endblock content %}