{% extends 'home/base.html' %}
{% load static %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'search/search.css' %}">
{% endblock style %}

{% block content %}

{%if not search_latitude or not search_longitude %}
  <script type="text/javascript">

    // Get visitor coordinates as soon as the page is loaded.
    window.onload = function get_coordinates(){
      //  If geolocation is supported by the browser:
      if(navigator.geolocation){
        navigator.geolocation.getCurrentPosition(function(location){
          // Store the latitude in the form element.
          document.getElementById("search_latitude").value = location.coords.latitude;

          // Store the longitude in the form element.
          document.getElementById("search_longitude").value = location.coords.longitude;

          // Enable button when location is ready.
          document.getElementById("search_button").disabled = false;

          // Remove location message to show search is ready.
          document.getElementById("location_msg").innerHTML = ' \
            <h1>Nifti</h1> \
            <p class="lead"> \
              Nifti allows you to search for work or post work for others, opening a new market for freelancers that do in-person jobs. \
            </p> \
            ';

        });
      } else{
        document.getElementById("location_msg").innerHTML = "This browser does not support HTML5 geolocation.";
      }
    }
  </script>

  <!-- Show that the coordinates are still loading. -->
  <h2 style="margin: 1rem;" id="location_msg">

    <!-- Spinner. -->
    <div class="spinner-border" id="coordinate_status" role="coordinate_status" style="width: 1.5rem; height: 1.5rem;"></div>

    <!-- Loading message. -->
    Finding your location&hellip;

  </h2>

{% else %}
  <script>
    // Enable search button when coordinates are ready.
    window.onload = function(){
      document.getElementById("search_button").disabled = false;
    }
  </script>
{% endif %}

  <!-- Search form -->
  <div class="container-fluid">

    <form
      class=""
      style="width: 100%; padding: 1.4em; padding-bottom: 0;"
      action=""
      method="GET"
      value=""
      >

      {% if page_obj %}
        <!-- Show number of results. -->
        <h2 class="text-muted" style="margin: 2rem;">
          Results ({{ page_obj.paginator.count }})
        </h2>
      {% endif %}

      <!-- Coordinates are empty by default. -->
      <input type="hidden" id="search_latitude" name="search_latitude" value="{{ search_latitude }}" />
      <input type="hidden" id="search_longitude" name="search_longitude" value="{{ search_longitude }}" />

      <!-- Show registration, login, and search messages. -->
      {% include 'home/messages.html' %}

      <!-- Search bar and button. -->
      <div class="d-flex input-group">

        <!-- Search bar. -->
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search_string" value="{{search_string}}">

        <!-- Search button. -->
        <button class="btn btn-outline-success" id="search_button" type="submit" value="Search" disabled>Search</button>
      </div>

      <!-- Search bar options. -->
      <div class="btn-group" id="options" role="group" aria-label="Basic radio toggle button group" style="width: inherit; margin-top: 0.5rem;">

        {% with service='service' task='task' user='user' distance='distance' %}
        <!-- Service switch. -->
        <input type="radio" class="btn-check" name="search_option" id="btnradio1" autocomplete="off" value="{{service}}"
          {% if not search_option %}
            {% comment %} Select service if no other option is selected. {% endcomment %}
            checked
          {% elif search_option == service %}
            {% comment %} Select service if search option is service. {% endcomment %}
            checked
          {% endif %}>
        <label id="first-label" class="btn btn-outline-primary" for="btnradio1">{{service.capitalize}}</label>

        <!-- Task switch. -->
        <input type="radio" class="btn-check" name="search_option" id="btnradio2" autocomplete="off" value="{{task}}" {% if search_option == task %}checked{% endif %}>
        <label class="btn btn-outline-primary" for="btnradio2">{{task.capitalize}}</label>

        <!-- User switch. -->
        <input type="radio" class="btn-check" name="search_option" id="btnradio3" autocomplete="off" value="{{user}}" {% if search_option == user %}checked{% endif %}>
        <label class="btn btn-outline-primary" for="btnradio3">{{user.capitalize}}</label>
        {% endwith %}

        <!-- Search results by. -->
        <select name="search_by" id="select" class="form-select bg-dark" aria-label="Search results by">

          {% with tag='tag' title='title' %}
          <optgroup label="Search by">
            <option value="{{tag}}" {% if search_by == tag %}selected{% endif %}>{{tag.capitalize}}</option>
            <option value="{{title}}" {% if search_by == title %}selected{% endif %}>{{title.capitalize}}</option>
          </optgroup>
          {% endwith %}

        </select>

      </div>
    </form>
  </div>

  <!-- Search results. -->
  <section class="bg-transparent text-black p-4 d-flex justify-content-center w-100">

    <div class="container" id="search_results_user">
      <div class="row">
        <!-- User based Search -->
        {% if search_type == 'user' %}
          {% if not users %}
            <p style="color:white;font-size:25px">No {{ search_type }}s found.</p>
          {% else %}

            {% for user in page_obj %}
              <div class="card mb-3 text-start" style="max-width: 540px; text-shadow: none !important; padding: 0px !important; min-height: 140px">
                <div class="row g-0" style="margin-left: 0 !important;">
                  <div class="col-md-4">

                    <!-- User profile picture. -->
                    <img
                      src="{{BASE_DIR}}/media/{{ user.profile.profile_picture }}"
                      alt="{{BASE_DIR}}/media/{{ user.profile.profile_picture }}"
                      class="img-fluid responsive"
                    />

                  </div>
                  <div class="col-md-8">
                    <div class="card-body">


                      <!-- User profile title link. -->
                      <h5 class="card-title">
                        <a href="{% url 'user-static-profile' user %}" style="top: 0; left: 0; height: 100%; width: 100%; text-decoration: none; color: white;">
                          {{ user.profile.title }}
                        </a>
                      </h5>

                      <h6 class="card-subtitle mb-2 text-muted">
                        <!-- User profile link. -->
                        <a class="mr-2" style="text-decoration: none;" href="{% url 'user-static-profile' user %}">{{ user }}</a>
                        <!-- User profile creation date. -->
                        {{ user.profile.date_created|date:"F d, Y" }}
                      </h6>

                      <!-- Post contents hyperlink. -->
                      <p class="card-text">
                          <a href="{% url 'user-static-profile' user %}" style="top: 0; left: 0; height: 100%; width: 100%; text-decoration: none; color: whitesmoke;">
                              {{ user.profile.body|striptags|safe|truncatechars_html:200 }}
                          </a>
                      </p>

                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        <!-- Service/Task based Search -->
        {% elif search_type == 'service' or search_type == 'task' %}
          {% if not posts_with_tags_and_distances %}
            <p style="color:white;font-size:25px">No {{ search_type }}s found.</p>
          {% else %}

            {% comment %}
            <!-- Loop thru every post and its tags. -->
            {% for post, tags, distance in posts_with_tags_and_distances %}
              <!-- Display the post. -->
              {% include 'search/post_result.html' %}
            {% endfor %}
            {% endcomment %}

            <!-- Loop thru every search result. -->
            {% for result in page_obj %}
              <!-- Obtain the post, tags, and distance from the list using indexes. -->
              {% with post=result.0 tags=result.1 distance=result.2 %}
                {% include 'search/post_result.html' %}
              {% endwith %}
            {% endfor %}

          {% endif %}
        {% endif %}
      </div>

      <!-- Include pagination links. -->
      {% include 'search/pagination.html' %}

    </div>
  </section>

{% endblock content %}

