{% extends 'home/base.html' %}
{% load static %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'search/search.css' %}">
{% endblock style %}

{% block content %}

  <!-- Search form -->
  <div class="container-fluid">

    <form
      class=""
      style="width: 100%; padding: 1.4em; padding-bottom: 0;"
      action=""
      method="GET"
      value=""
      >

      <!-- Show registration, login, and search messages. -->
      {% include 'home/messages.html' %}

      <!-- Search bar and button. -->
      <div class="d-flex input-group">

        <!-- Search bar. -->
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search_string" value="{{search_string}}">

        <!-- Search button. -->
        <button class="btn btn-outline-success" type="submit" value="Search" onclick="{{request.GET.username}}">Search</button>
      </div>

      <!-- Search bar options. -->

      <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="width: inherit; margin-top: 0.5rem;">

        {% with service='service' task='task' user='user' distance='distance' %}
        <!-- Service switch. -->
        <input type="radio" class="btn-check" name="search_option" id="btnradio1" autocomplete="off" value="{{service}}"
          {% if not search_option %}
            {% comment %} Select service if no other option is selected. {% endcomment %}
            checked
          {% elif search_option == service %}
            {% comment %} Select service if search option is service. {% endcomment %}
            checked
          {% endif %}>
        <label class="btn btn-outline-primary" for="btnradio1">{{service.capitalize}}</label>

        <!-- Task switch. -->
        <input type="radio" class="btn-check" name="search_option" id="btnradio2" autocomplete="off" value="{{task}}" {% if search_option == task %}checked{% endif %}>
        <label class="btn btn-outline-primary" for="btnradio2">{{task.capitalize}}</label>

        <!-- User switch. -->
        <input type="radio" class="btn-check" name="search_option" id="btnradio3" autocomplete="off" value="{{user}}" {% if search_option == user %}checked{% endif %}>
        <label class="btn btn-outline-primary" for="btnradio3">{{user.capitalize}}</label>
        {% endwith %}

        <!-- Search result order. -->
        <select name="search_order" id="select" class="form-select bg-dark" aria-label="Ordering selection" style="width: auto;">

          {% with closest='closest' furthest='furthest' alphabetical='alphabetical' reversed='reversed' %}
          <optgroup label="Distance">
            <option value="{{closest}}" {% if search_order == closest %}selected{% endif %}>{{closest.capitalize}}</option>
            <option value="{{furthest}}" {% if search_order == furthest %}selected{% endif %}>{{furthest.capitalize}}</option>
          </optgroup>

          <optgroup label="Title Name">
            <option value="{{alphabetical}}" {% if search_order == alphabetical %}selected{% endif %}>{{alphabetical.capitalize}}</option>
            <option value="{{reversed}}" {% if search_order == reversed %}selected{% endif %}>{{reversed.capitalize}}</option>
          </optgroup>
          {% endwith %}

        </select>

      </div>
    </form>
  </div>

  <!-- Search results. -->
  <section class="bg-transparent text-black p-4 d-flex justify-content-center w-100">

    <div class="container" id="search_results_user">
      <div class="row">
        <!-- User based Search -->
        {% if search_type == 'user_search' %}
          {% if not users %}
            <p style="color:white;font-size:25px">No users found.</p>
          {% else %}
            {% for user in users %}
              <!-- Concatenate the first and last name to create the full_name. -->
              {% with user.first_name|add:' '|add:user.last_name as full_name %}
                <div class="card mb-3 text-start" style="max-width: 540px; text-shadow: none !important; padding: 0px !important; min-height: 140px">
                  <div class="row g-0" style="margin-left: 0 !important;">
                    <div class="col-md-4">
                      <img
                        src="{{BASE_DIR}}/media/{{ user.profile.profile_picture }}"
                        alt="{{BASE_DIR}}/media/{{ user.profile.profile_picture }}"
                        class="img-fluid responsive"
                      />
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{ user.username }}</h5>
                        <!-- Turn the profile description text into hyperlink pointing to the user profile. -->
                        <p class="card-text">
                          <a href="#put_url_to_user_profile_here_somehow" style="top: 0; left: 0; height: 100%; width: 100%; text-decoration: none; color: white;">
                          {{ user.profile.title }}
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              {% endwith %}
            {% endfor %}
          {% endif %}
        <!-- Service/Task based Search -->
        {% elif search_type == 'service' or search_type == 'task' %}
          {% if not posts_and_their_tags %}
            <p style="color:white;font-size:25px">No {{ search_type }}s found.</p>
          {% else %}
            {% for post, tags in posts_and_their_tags %}
              <div class="card mb-3 text-start" style="max-width: 540px; text-shadow: none !important; padding: 0px !important; min-height: 140px">
                <div class="row g-0" style="margin-left: 0 !important;">
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ post.title }}</h5>
                      <!-- Turn the profile description text into hyperlink pointing to the user profile. -->
                      <p class="card-text">
                        <a href="#put_url_to_user_profile_here_somehow" style="top: 0; left: 0; height: 100%; width: 100%; text-decoration: none; color: white;">
                          {{ post.title }}
                        </a>
                      </p>
                      <!-- Multiple tags per each post -->
                      {% for tag in tags %}
                        <a href="{% url 'search-home' %}?search_string={{ tag.tag_name }}&search_option={{ search_type }}&search_order=closest">
                          <button class="btn" style="-webkit-text-fill-color:pink !important" >{{ tag.tag_name }}</button>
                        </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        {% else %}
          <p style="color:white;font-size:25px">Start your Nifti Search!</p>
        {% endif %}
      </div>
    </div>
  </section>

{% endblock content %}

