{% extends 'home/base.html' %}
{% load static %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'search/search.css' %}">
{% endblock style %}

{% block content %}

<script type="text/javascript">
    // Get visitor coordinates as soon as the page is loaded.
    window.onload = function get_coordinates(){

        // Check if geolocation supported by the browser.
        if(navigator.geolocation){
            navigator.geolocation.getCurrentPosition(function(location){
                // Store the latitude in the form element.
                document.getElementById("latitude").value = location.coords.latitude;

                // Store the longitude in the form element.
                document.getElementById("longitude").value = location.coords.longitude;

                // Remove location message to show search is ready.
                document.getElementById("location_msg").style.display = "none";

                // Hide the label (the element does not take space).
                document.getElementById("coordinate_status").style.display = "none";

                // Enable button when searching is ready.
                document.getElementById("search_button").disabled = false;
            });
        } else{
            document.getElementById("location_msg").innerHTML = "This browser does not support HTML5 geolocation.";
        }
    }
</script>

    <!-- Show that the coordinates are still loading. -->
    <div id="location_msg">Finding your location...</div>

    <!-- Spinner disappears whether the coordinates are ready. -->
    <div class="spinner-border" id="coordinate_status" role="coordinate_status"></div>

  <!-- Search form -->
  <div class="container-fluid">

    <form
      class=""
      style="width: 100%; padding: 1.4em; padding-bottom: 0;"
      action=""
      method="GET"
      value=""
      >

      <!-- Coordinates are empty by default. -->
      <input type="hidden" id="latitude" name="latitude" value="" />
      <input type="hidden" id="longitude" name="longitude" value="" />

      <!-- Show registration, login, and search messages. -->
      {% include 'home/messages.html' %}

      <!-- Search bar and button. -->
      <div class="d-flex input-group">

        <!-- Search bar. -->
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search_string" value="{{search_string}}">

        <!-- Search button. -->
        <button class="btn btn-outline-success" id="search_button" type="submit" value="Search" disabled>Search</button>
      </div>

      <!-- Search bar options. -->

      <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="width: inherit; margin-top: 0.5rem;">

        {% with service='service' task='task' user='user' distance='distance' %}
        <!-- Service switch. -->
        <input type="radio" class="btn-check" name="search_option" id="btnradio1" autocomplete="off" value="{{service}}"
          {% if not search_option %}
            {% comment %} Select service if no other option is selected. {% endcomment %}
            checked
          {% elif search_option == service %}
            {% comment %} Select service if search option is service. {% endcomment %}
            checked
          {% endif %}>
        <label class="btn btn-outline-primary" for="btnradio1">{{service.capitalize}}</label>

        <!-- Task switch. -->
        <input type="radio" class="btn-check" name="search_option" id="btnradio2" autocomplete="off" value="{{task}}" {% if search_option == task %}checked{% endif %}>
        <label class="btn btn-outline-primary" for="btnradio2">{{task.capitalize}}</label>

        <!-- User switch. -->
        <input type="radio" class="btn-check" name="search_option" id="btnradio3" autocomplete="off" value="{{user}}" {% if search_option == user %}checked{% endif %}>
        <label class="btn btn-outline-primary" for="btnradio3">{{user.capitalize}}</label>
        {% endwith %}

        <!-- Search result order. -->
        <select name="search_order" id="select" class="form-select bg-dark" aria-label="Ordering selection" style="width: auto;">

          {% with closest='closest' furthest='furthest' alphabetical='alphabetical' reversed='reversed' %}
          <optgroup label="Distance">
            <option value="{{closest}}" {% if search_order == closest %}selected{% endif %}>{{closest.capitalize}}</option>
            <option value="{{furthest}}" {% if search_order == furthest %}selected{% endif %}>{{furthest.capitalize}}</option>
          </optgroup>

          <optgroup label="Title Name">
            <option value="{{alphabetical}}" {% if search_order == alphabetical %}selected{% endif %}>{{alphabetical.capitalize}}</option>
            <option value="{{reversed}}" {% if search_order == reversed %}selected{% endif %}>{{reversed.capitalize}}</option>
          </optgroup>
          {% endwith %}

        </select>

      </div>
    </form>
  </div>

  <!-- Search results. -->
  <section class="bg-transparent text-black p-4 d-flex justify-content-center w-100">

    <div class="container" id="search_results_user">
      <div class="row">
        <!-- User based Search -->
        {% if search_type == 'user' %}
          {% if not users %}
            <p style="color:white;font-size:25px">No {{ search_type }}s found.</p>
          {% else %}
            {% for user in users %}
              <!-- Concatenate the first and last name to create the full_name. -->
              {% with user.first_name|add:' '|add:user.last_name as full_name %}
                <div class="card mb-3 text-start" style="max-width: 540px; text-shadow: none !important; padding: 0px !important; min-height: 140px">
                  <div class="row g-0" style="margin-left: 0 !important;">
                    <div class="col-md-4">

                      <!-- User profile picture. -->
                      <img
                        src="{{BASE_DIR}}/media/{{ user.profile.profile_picture }}"
                        alt="{{BASE_DIR}}/media/{{ user.profile.profile_picture }}"
                        class="img-fluid responsive"
                      />

                    </div>
                    <div class="col-md-8">
                      <div class="card-body">

                        <!-- User profile link. -->
                        <h5 class="card-title">
                          <a class="mr-2" style="text-decoration: none;" href="{% url 'user-static-profile' user %}">{{ user }}</a>
                        </h5>

                        <!-- User profile creation date. -->
                        <h6 class="card-subtitle mb-2 text-muted">
                          {{ user.profile.date_created|date:"F d, Y" }}
                        </h6>

                        <!-- User profile title hyperlink. -->
                        <p class="card-text">
                          <a href="{% url 'user-static-profile' user %}" style="top: 0; left: 0; height: 100%; width: 100%; text-decoration: none; color: white;">
                          {{ user.profile.title }}
                          </a>
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
              {% endwith %}
            {% endfor %}
          {% endif %}
        <!-- Service/Task based Search -->
        {% elif search_type == 'service' or search_type == 'task' %}
          {% if not posts_and_their_tags %}
            <p style="color:white;font-size:25px">No {{ search_type }}s found.</p>
          {% else %}
            {% for post, tags in posts_and_their_tags %}
              <div class="card mb-3 text-start" style="max-width: 540px; text-shadow: none !important; padding: 0px !important; min-height: 140px">
                <div class="row g-0" style="margin-left: 0 !important;">
                  <div class="col-md-8">
                    <div class="card-body">

                      <!-- User profile link. -->
                      <h5 class="card-title">
                        <a class="mr-2" style="text-decoration: none;" href="{% url 'user-static-profile' post.author %}">{{ post.author }}</a>
                      </h5>

                      <!-- User profile creation date. -->
                      <h6 class="card-subtitle mb-2 text-muted">
                        {{ post.author.profile.date_created|date:"F d, Y" }}
                      </h6>

                      <!-- Post title hyperlink. -->
                      <p class="card-text">
                        <a href="{% url 'post-detail' post.id %}" style="top: 0; left: 0; height: 100%; width: 100%; text-decoration: none; color: white;">
                          {{ post.title }}
                        </a>
                      </p>

                      <!-- Multiple tags per each post -->
                      {% for tag in tags %}
                        <a href="{% url 'search-home' %}?search_string={{ tag.tag_name }}&search_option={{ search_type }}&search_order=closest">
                          <button class="btn" style="-webkit-text-fill-color:pink !important" >{{ tag.tag_name }}</button>
                        </a>
                      {% endfor %}

                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        <!-- Service/Task based Search -->


        <!-- NOTE: Delete everything in comment? -->
        {% comment %}
        {% elif search_type == 'service' or search_type == 'task' %}
          {% for post, tags in posts_and_their_tags %}
            <div class="card mb-3 text-start" style="max-width: 540px; text-shadow: none !important; padding: 0px !important; min-height: 140px">
              <div class="row g-0" style="margin-left: 0 !important;">
                <div class="col-md-8">
                  <div class="card-body">

                    <!-- Post title. -->
                    <h5 class="card-title">
                      <a href="{% url 'post-detail' post.id %}" style="top: 0; left: 0; height: 100%; width: 100%; text-decoration: none; color: whitesmoke;">
                      {{ post.title }}
                      </a>
                    </h5>

                    <h6 class="card-subtitle mb-2 text-muted">

                      <!-- Post author. -->
                      <a class="mr-2" style="text-decoration: none;" href="{% url 'user-static-profile' post.author %}">{{ post.author }}</a>

                      <!-- Profile creation date. -->
                      {{ user.profile.date_created|date:"F d, Y" }}

                    </h6>

                    <!-- Turn the profile description text into hyperlink pointing to the user profile. -->
                    <p class="card-text">

                      <!-- Post title. -->
                      <a href="{% url 'post-detail' post.id %}" style="top: 0; left: 0; height: 100%; width: 100%; text-decoration: none; color: white;">
                        {{ post.title }}
                      </a>
                    </p>

                    <!-- Multiple tags per each post -->
                    {% for tag in tags %}
                      <a href="{% url 'search-home' %}?search_string={{ tag.tag_name }}&search_option={{ search_type }}&search_order=closest">
                        <button class="btn" style="-webkit-text-fill-color:pink !important" >{{ tag.tag_name }}</button>
                      </a>
                    {% endfor %}

                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p style="color:white;font-size:25px">Start your Nifti Search!</p>
        {% endcomment %}


        {% endif %}
      </div>
    </div>
  </section>

{% endblock content %}

