{% extends 'home/base.html' %}
{% block title %}
<title>Delete Account</title>
{% endblock title %}
{% block content %}

<div class="card text-black">
    <h5 class="card-header">Delete User Account</h5>
    <div class="card-body">
        <p class="card-text">
            Are you sure you want to delete your account? This will permanently delete your profile and any content you have generated.
        </p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <a href="{% url 'user-profile' %}" class="btn btn-primary">Cancel</a>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>

{% endblock content %}