{% extends 'home/base.html' %}
<!-- Load needed css files. -->
{% load static %}
{% block title %}
<title>{{ other_user }}</title>
{% endblock title %}
<!-- Needed to auto-format forms using the |cripsy function. -->
{% load crispy_forms_tags %}
<!-- Custom CSS -->
{% block style %}
<!-- The profile.css file is needed to make the profile picture look circular. -->
<link rel="stylesheet" href="{% static 'user/profile.css' %}">
{% endblock style %}

<!-- Luis -->
{% block content %}
<div class="content-section" style="margin-top: 3em;">

    <!-- Show registration, login, update, and search messages. -->
    {% include 'home/messages.html' %}

    <div class="media">
        <div class="media-body">
            <!-- Show profile picture. -->
            <img class="rounded-circle account-img" style="margin-top: 3em;" src={{other_user.profile.profile_picture.url}}>

            <!-- Show username. -->
            <h2 class="account-heading" style="margin-top: revert;">{{other_user.username}}</h2>

            <!-- Show email. -->
            <p class="text-secondary">{{other_user.email}}</p>

            <!-- Show rich text. -->
            <div style="text-align: left;">{{other_user.profile.body|safe}}</div>
        </div>

        <!-- If the user who is logged in is the owner of the profile, allow reset password and delete account buttons. -->
        {% if other_user == user %}

        <!-- View All My Ads Button. -->
        <a href="{% url 'user-post-list' other_user %}" class="btn btn-outline-primary" style="display: block; margin-bottom: 0.5rem;" role="button">View My Ads</a>

        <!-- Reset Password Button. -->
        <a href="{% url 'password_reset' %}" class="btn btn-outline-info" style="display: block; margin-bottom: 0.5rem;" role="button">Reset Password</a>

        <!-- Delete Account Button. -->
        <a href="{% url 'home-unregister' %}" class="btn btn-outline-danger" style="display: block; margin-bottom: 0.5rem;" role="button">Delete Account</a>

        {% else %}

        <!-- View All Ads by Author Button. -->
        <a href="{% url 'user-post-list' other_user %}" class="btn btn-outline-primary" style="display: block; margin-bottom: 0.5rem;" role="button">Ads by {{other_user}}</a>

        {% endif %}
    </div>
</div>
{% endblock content %}
