{% extends 'home/base.html' %}
<!-- Load needed css files. -->
{% load static %}
{% block title %}
<title>Profile</title>
{% endblock title %}
<!-- Needed to auto-format forms using the |cripsy function. -->
{% load crispy_forms_tags %}
<!-- Custom CSS -->
{% block style %}
<!-- The profile.css file is needed to make the profile picture look circular. -->
<link rel="stylesheet" href="{% static 'user/profile.css' %}">
{% endblock style %}

<!-- Luis -->
{% block content %}
<div class="content-section" style="margin-top: 3em;">

    <!-- Show registration, login, update, and search messages. -->
    {% include 'home/messages.html' %}

    <div class="media">
        <form method="post" enctype="multipart/form-data">

            <!-- Show registration, login, update, and search messages. -->
            {% include 'home/messages.html' %}

            <div class="card text-black" style="margin-bottom: 1rem; max-width: fit-content;">
                <h5 class="card-header">Profile Settings</h5>

                <div class="card-body" style="text-align: left;">

                    {% csrf_token %}
                    <!-- User update form with username and email. -->
                    {{ u_form | crispy }}
                    <!-- Profile update form with title, body, and profile picture. -->
                    {{ p_form | crispy }}
                    <!-- This line is needed to display the rich text editor. -->
                    {{ p_form.media }}

                    <style>
                        /* Make the rich text editor's borders round. */
                        .cke_chrome {
                            border-radius: 0.25rem;
                        }
                        /* Add space between username, email, body, etc, fields. */
                        .control-group {
                            margin-bottom: 1rem;
                        }

                    </style>

                    <!-- Update Profile button. -->
                    <button type="submit" class="btn btn-primary" style="width: 100%; display: block; margin: 0.5rem 0;">Update</button>

                </div>

            </div>
            <!-- User profile title hyperlink. -->
            <a href="{% url 'user-static-profile' user %}" class="btn btn-outline-primary" style="display: block; margin-bottom: 0.5rem;" role="button">View My Profile</a>
        </form>
    </div>

</div>
{% endblock content %}
