{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Leave blank space at the top and bottom of the page. -->
<div style="margin: 3em 0;">

    <div class="card text-black content-section" style="width: 25rem; margin: auto; max-width: fit-content;">

        <h5 class="card-header">Reset Password</h5>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}

                {% comment %}
                    <!-- The crispy form is commented out, but leave it just in
                    case the form needs to be updated later. -->
                    {{ form|crispy }}
                {% endcomment %}

                <!-- New Password. -->
                <label for="id_new_password1" class=" requiredField visually-hidden">New Password</label>
                <div>
                    <input type="password" name="new_password1" autocomplete="new-password" class="textinput textInput form-control" required="" id="id_new_password1" placeholder="New Password">
                </div>

                <!-- Passwords Verification. -->
                <label for="id_new_password2" class=" requiredField visually-hidden">New Password Verification</label>
                <div>
                    <input type="password" name="new_password2" autocomplete="new-password" class="textinput textInput form-control mt-3" required="" id="id_new_password2" placeholder="New Password Verification">
                </div>

                <button class="btn btn-primary mt-3" style="width: 100%;" type="submit">Request Password Reset</button>
            </form>
        </div>
    </div>

    <!-- Link to Login page. -->
    <div id="resetPasswordHelp" class="form-text">
        Remembered password?
        <a href="{% url 'home-login' %}">Login</a>
    </div>

</div>

{% endblock content %}