{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Fernando -->
<!-- Leave blank space at the top and bottom of the page. -->
<div style="margin: 3em 0;">
    <div class="card text-black content-section" style="width: 25rem; margin: auto; max-width: fit-content;">
        <h5 class="card-header">Reset Password</h5>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}

                <div class="form-group">

                    {% comment %}
                        <!-- The crispy form is commented out, but leave it just in case
                        the form needs to be updated later. -->
                        {{ form|crispy }}
                    {% endcomment %}

                    <label for="id_email" class=" requiredField visually-hidden">Email</label>

                    <input type="email" name="email" autocomplete="email" maxlength="254" class="emailinput form-control" placeholder="Email" required="" id="id_email">

                    <button class="btn btn-primary mt-3" style="width: 100%;" type="submit">Request Password Reset</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Link to Login page. -->
    <div id="resetPasswordHelp" class="form-text">
        Remembered password?
        <a href="{% url 'home-login' %}">Login</a>
    </div>

</div>

{% endblock content %}